@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.note-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 15px;
}
.recent {
  grid-column: 1/-1;
  margin-left: 132px;
  font-size: 36px;
  font-weight: 600;
  color: #91a7ff;
  letter-spacing: 0.8px;
}
.note-heading {
  color: #c8b6fd;
  font-size: 21px;
  font-weight: 700;
  padding-left: 18px;
}
.note {
  color: #eebefa;
  border: 2px solid #d0bfff;
  border-radius: 10px;
  width: 216px;
  height: 260px;
  justify-self: center;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center; */
  padding: 8px 6px;
}
.note-upper {
  display: flex;
  align-items: center;
  height: 36px;
  overflow: hidden;
}
.note-content {
  color: #e8e0fe;
  height: 85%;
  width: 98%;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #fb6363;
  margin-left: 60px;
  cursor: pointer;
}
.note-input {
  background-color: transparent;
  border: none;
  color: #e8e0fe;
  height: 100%;
}
